/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * scopa implementation : © Jacques de Metz <demetz.jacques@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http: //boardgamearena.com.
 * See http: //en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

/* Main board */
#scp_board {
    min-width: 800px;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}


/* All card holders */
.scp_cardholder {
    text-align: center;
    min-width: 120px;
    min-height: 150px;
}

/****************** Cards on table ******************/
#tablehand {
    width: min-content;
    float: left;
    margin-top: 0px;
}

/****************** Card played & deck ******************/
#interactions {
    float: right;
    width: 300px;
    /* 120 (big enough text) * 2 + 20 padding  */
    margin-top: 0;
}

@media only screen and (max-width: 1100px) {

    /* Move them so they're within the screen */
    #interactions {
        float: none;
        clear: both;
    }
}

#cardplayed,
#deck {
    display: inline-block;
    margin-top: 0px;
}

/* Hide the played card by default (it'll get filled by JS) */
#cardplayedcard {
    background-image: none !important;
}

#deck {
    float: right;
}

/****************** Capture choices ******************/
#capturechoice {
    width: min-content;
    min-width: 380px;
    clear: both;
}

/* Group of cards to capture */
.scp_capturegroup {
    display: inline-block;
    cursor: pointer;
    border: 3px red solid;
    padding: 10px;
    margin-right: 10px;
}


/****************** Player's hand ******************/
#myhand {
    width: min-content;
    clear: both;
}

#myhandcards {
    /* This allows Dojo to position cards properly during animations */
    text-align: initial;
}

.spectatorMode #myhand {
    display: none;
}

/* Card can capture */
.scp_canCapture {
    border-bottom: 2px black dotted !important;
    border-right: 2px black dotted !important;
}

/****************** Cards and decks ******************/
.scp_card,
.scp_deck {
    display: inline-block;
    position: relative;
    width: 68px;
    height: 111px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #000000a0;
}

/* Cards (except player's card) */
.scp_card {
    background-image: url('img/cards.jpg');
    background-size: 1000%;
}

/* Hide shadow in "card played" box */
#cardplayedcard {
    box-shadow: none;
}

/* Card in capture group */
.scp_capturegroup .scp_card {
    margin-right: 10px;
}

/* Deck of cards */
.scp_deck {
    background-image: url('img/deck.jpg');
    background-size: cover;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 6px #000;
}

.player_board_content .scp_deck {
    width: 34px;
    height: 55px;
    line-height: 55px;
    font-size: 20px;
}

#deck .scp_deck {
    width: 68px;
    height: 111px;
    line-height: 111px;
    font-size: 28px;
}

.scp_hidden {
    display: none;
}

.stockitem {
    background-size: 1000%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #000000a0;
}




@media only screen and (min-width: 1720px) {

    #scp_board {
        min-width: 1240px;
    }

    /* All card holders */
    .scp_cardholder {
        min-width: 152px;
        /* card + 20 padding */
        min-height: 260px;
    }

    /****************** Card played & deck ******************/
    #interactions {
        width: 360px;
        /* (card + 20 padding) * 2 + 20 padding */
    }

    #capturechoice {
        min-width: 680px;
    }


    /****************** Cards and decks ******************/
    .scp_card,
    .scp_deck,
    #deck .scp_deck {
        width: 132px;
        height: 219px;
    }
}